.code {
	height: 100%;
	width: 80vw;
	display: flex;
	flex-direction: column;
	// justify-content: space-around;
	align-items: center;

	div {
		width: 100%;
		display: flex;
		justify-content: space-around;
		align-items: center;
		margin: 5px;
		padding: 20px;
		// border: 1px solid black;
	}

	img {
		height: auto;
		width: 35vw;
		border-radius: 1%;
	}

	h1 {
		font-size: 40px;
		text-transform: uppercase;
	}

	.details {
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: flex-start;
		width: 20vw;

		h2 {
			font-size: 35px;
			font-weight: 700;
			margin-bottom: 20px;
			text-transform: uppercase;
		}

		h3 {
			color: rgb(88, 88, 88);
			font-size: 20px;
		}

		p {
			color: rgb(88, 88, 88);
			font-size: 25px;
		}

		.tech {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: flex-start;
		}
	}
	/* On screens that are 992px or less, set the background color to olive */
	@media screen and (max-width: 992px) {
		div {
			padding: 10px;
		}

		.details {
			h2 {
				font-size: 30px;
			}
			p {
				font-size: 20px;
			}
		}
	}
	/* On screens that are 600px or less, set the background color to olive */
	@media screen and (max-width: 600px) {
		h1 {
			font-size: 30px;
			text-align: center;
		}
		div {
			padding: 5px;
		}

		.details {
			h2 {
				font-size: 25px;
			}
			p {
				font-size: 15px;
			}
		}
	}
}
