.contact {
	height: 80vh;
	width: 90vw;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;

	* {
		font-family: proxima-nova, sans-serif;
		font-weight: 400;
		font-style: normal;
		font-size: 30px;
		// font-weight: 700;
		color: black;
	}
	.status-bar {
		border-radius: 6px;
		border-top: 6px solid green;
		background-color: #f6f6f6;
		padding: 8%;
		width: 80vw;
		// margin-top: 7vh;
	}
	.status-bar p {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;

		.one {
			font-weight: 900;
		}
		.two {
			color: green;
			text-transform: uppercase;
			letter-spacing: 4px;
			font-weight: 900;
			font-size: 1.5em;
		}
		.three {
			text-align: center;
		}
	}
	.contact-form {
		height: 35vh;
		width: 88vw;
		margin: 3%;
		padding: 2%;
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		label {
			margin-bottom: .5em;
			width: 50%;
		}
		textarea {
			height: 150px;
			width: 47%;
			background-color: #f6f6f6;
			border-width: 2px;
			border-radius: 6px;
		}
		input {
			background-color: #f6f6f6;
			border-radius: 6px;
		}
		.input-box {
			width: 20vw;
			height: 2vh;
		}
		.submitBtn {
			width: 20vw;
			padding: 10px;
			margin-top: 15px;
			background-color: black;
			color: white;
			border: none;
			border-radius: 1000px;

			font-size: .75em;
		}
	}
	.submitBtn:hover {
		background-color: white;
		color: black;
		border: solid 1px black;
	}
	.form-item {
		display: flex;
		flex-direction: column;
		justify-content: space-between;

		text-transform: uppercase;

		margin-left: 10px;
	}
	.form-top {
		display: flex;
		justify-content: center;
		align-items: center;
	}
	.form-full {
		display: flex;
		justify-content: center;
		align-items: center;
	}
}

@media screen and (max-width: 900px) {
}
@media screen and (max-width: 700px) {
	.contact .contact-form input {
		font-size: 10px;
	}
	.contact .contact-form label {
		font-size: 20px;
		margin: .5em 0;
	}
	.contact .contact-form .submitBtn {
		font-size: .5em;
		padding: 3px;
		margin: .5em 0 0 .5em;
		width: 120px;
	}
}
