// ? HEADER
.header {
	background-color: rgb(0, 0, 0);
	height: 12vh;
	width: 100vw;

	display: flex;
	flex-direction: column;
	justify-content: center;
	// align-items: center;
	position: fixed;
	.links {
		display: flex;
		align-items: center;
		justify-content: space-around;
	}
}

.header {
	a {
		font-size: 30px;
		font-weight: 800;
		color: white;
	}
	img {
		height: 7vh;
		border: 1px white solid;
		border-radius: 50%;
	}
}

.logo {
	display: flex;
	justify-content: center;
	align-items: flex-start;
	margin-bottom: 10px;
}
