@import './Code';
@import './Contact';
@import './Footer';
@import './Header';
@import './Home';
@import './Resume';

body {
	// ! Background
	background-image: url("./../components/Home/Background.jpeg");
	background-color: rgba(128, 128, 128, 0.356);
	height: 100vh;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;

	// ! Font
	font-family: 'Courier New', Courier, monospace;
	font-size: 30px;
	font-weight: 700;
	color: white;
}

.App {
	position: absolute;
}

.routes {
	margin: 12vh 0 0 0;
	// z-index: -1;
	position: absolute;
	height: 83vh;
	width: 100vw;
	display: flex;
	justify-content: center;
	align-items: center;
	// background-color: rgba(0, 0, 0, 0.685);
}
