@import './Code';
@import './Contact';
@import './Footer';
@import './Header';
@import './Home';
@import './Resume';

body {
	// ! Background
	// background-image: url("./../components/Home/Background.jpeg");
	background-color: rgba(255, 255, 255, 0.356);
	height: 100vh;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;

	// ! Font
	font-family: proxima-nova, sans-serif;
	font-weight: 400;
	font-style: normal;
	font-size: 30px;
	// font-weight: 700;
	color: black;
}

.App {
	position: absolute;
}

.routes {
	margin: 12vh 0 0 0;
	position: relative;
	overflow: scroll;
	// z-index: -1;
	height: 83vh;
	width: 100vw;
	display: flex;
	justify-content: center;
	align-items: center;
	// background-color: rgba(0, 0, 0, 0.685);
}
